<form novalidate #form="ngForm" (submit)="onSubmit(form)">
  <input type="hidden" name="id" [value]="request.id">

  <div class="form-group">
    <label for="title">Title</label>

    <input class="form-control form-control-lg" placeholder="Title" id="title" name="title" #title="ngModel"
           [(ngModel)]="request.title" required [class.is-invalid]="title.invalid && title.touched">
  </div>

  <div class="form-group">
    <label for="description">Description</label>

    <textarea class="form-control form-control-lg" placeholder="Description" id="description" name="description"
              autosize #description="ngModel" [(ngModel)]="request.description" required
              [class.is-invalid]="description.invalid && description.touched"></textarea>
  </div>

  <div class="form-group">
    <label for="type">Type</label>

    <select class="form-control form-control-lg" id="type" name="type" #type="ngModel" [(ngModel)]="request.type"
            [class.is-invalid]="type.invalid && type.touched">
      <option [ngValue]="undefined"></option>

      <option *ngFor="let key of ObjectsUtil.getKeys(TaskType)" [ngValue]="TaskType[key]">{{key}}</option>
    </select>
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-block" type="submit" [disabled]="form.invalid">Save</button>
  </div>
</form>
