<div class="d-flex justify-content-center">
  <div class="card w-50">
    <h5 class="card-header">Reset password</h5>

    <div class="card-body">
      <form novalidate #form="ngForm" (submit)="onSubmit(form)">
        <div class="form-row">
          <div class="col form-group">
            <label for="email">E-mail address</label>

            <input class="form-control form-control-lg" placeholder="E-mail address" id="email" name="email"
                   #email="ngModel" [(ngModel)]="request.email" required email
                   [class.is-invalid]="email.invalid && email.touched">
          </div>

          <div class="col form-group">
            <label for="newPassword">New password</label>

            <input class="form-control form-control-lg" placeholder="New password" id="newPassword" name="newPassword"
                   type="password" #newPassword="ngModel" [(ngModel)]="request.newPassword" required
                   [class.is-invalid]="newPassword.invalid && newPassword.touched">
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit" [disabled]="form.invalid">Reset password</button>
        </div>
      </form>
    </div>

    <div class="border-top card-body text-center">Already have an account? <a routerLink="/login">Login</a></div>
  </div>
</div>
