<form novalidate #form="ngForm" (submit)="onSubmit(form)">
  <input type="hidden" name="id" [value]="request.id">

  <div class="form-group">
    <label for="name">Name</label>

    <input class="form-control form-control-lg" placeholder="Name" id="name" name="name" #name="ngModel"
           [(ngModel)]="request.name" required [class.is-invalid]="name.invalid && name.touched">
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-block" type="submit" [disabled]="form.invalid">Save</button>
  </div>
</form>
