<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">To Do</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/lists">Lists</a>
        </li>
      </ul>

      <ng-container *ngIf="user === null; else loggedInTemplate">
        <a class="btn btn-primary mr-2" routerLink="/login" role="button">Login</a>

        <a class="btn btn-secondary" routerLink="/register" role="button">Register</a>
      </ng-container>

      <ng-template #loggedInTemplate>
        <button class="btn btn-danger" (click)="logout()">Logout ({{user.userName}})</button>
      </ng-template>
    </div>
  </div>
</nav>
