<div class="d-flex justify-content-center">
  <div class="card w-50">
    <h5 class="card-header">Login</h5>

    <div class="card-body">
      <form novalidate #form="ngForm" (submit)="onSubmit(form)">
        <div class="form-row">
          <div class="col form-group">
            <label for="email">E-mail address</label>

            <input class="form-control form-control-lg" placeholder="E-mail address" id="email" name="email"
                   #email="ngModel" [(ngModel)]="request.email" required email
                   [class.is-invalid]="email.invalid && email.touched">
          </div>

          <div class="col form-group">
            <label for="password">Password</label>

            <input class="form-control form-control-lg" placeholder="Password" id="password" name="password"
                   type="password" #password="ngModel" [(ngModel)]="request.password" required
                   [class.is-invalid]="password.invalid && password.touched">
          </div>
        </div>

        <div class="form-row">
          <div class="col form-group">
            <div class="text-right"><a routerLink="/forgot-password">Forgot your password?</a></div>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit" [disabled]="form.invalid">Login</button>
        </div>
      </form>
    </div>

    <div class="border-top card-body text-center">Don't have an account yet? <a routerLink="/register">Register</a>
    </div>
  </div>
</div>
