<div class="d-flex justify-content-center" *ngIf="task !== undefined && task !== null">
  <div class="card w-75">
    <h5 class="card-header">Task</h5>

    <div class="card-body">
      <div class="form-row">
        <div class="col form-group">
          <label for="title">Title</label>

          <input class="form-control" id="title" name="title" [value]="task.title" readonly>
        </div>

        <div class="col form-group">
          <label for="type">Type</label>

          <input class="form-control" id="type" name="type"
                 [value]="ObjectsUtil.getKeys(TaskType)[task.type] === undefined ? null : ObjectsUtil.getKeys(TaskType)[task.type]"
                 readonly>
        </div>
      </div>

      <div class="form-row">
        <div class="col form-group">
          <label for="description">Description</label>

          <textarea class="form-control" id="description" name="description" [value]="task.description" autosize
                    readonly></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
