<div class="d-flex justify-content-center" *ngIf="list !== undefined && list !== null">
  <div class="card w-75">
    <h5 class="card-header">List</h5>

    <div class="card-body">
      <div class="form-group">
        <label for="name">Name</label>

        <input class="form-control" id="name" name="name" [value]="list.name" readonly>
      </div>

      <hr>

      <h5 class="card-title">Tasks</h5>

      <hr>

      <app-tasks [listId]="id"></app-tasks>
    </div>
  </div>
</div>
