<div class="d-flex justify-content-center" *ngIf="tasks !== undefined && tasks !== null">
  <div class="w-50 pr-5">
    <app-task-form [listId]="listId" [request]="requestSubject.value" (createTaskChange)="createTask($event)"
                   (updateTaskChange)="updateTask($event)"></app-task-form>
  </div>

  <div class="w-75">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
        <th scope="col"></th>
      </tr>
      </thead>

      <tbody>
      <tr role="button" *ngFor="let task of tasks.data">
        <td class="w-25" (click)="loadForm(task)"><a routerLink="/task/{{task.id}}">{{ task.title }}</a></td>
        <td class="w-50" (click)="loadForm(task)">
          {{ task.description.length > 50 ? (task.description | slice:0:50) + '...' : task.description }}
        </td>
        <td class="w-auto text-center" (click)="loadForm(task)">
          <i class="fa fa-lg text-dark" *ngIf="task.type !== undefined" [class.fa-home]="task.type == TaskType.Home"
             [class.fa-user]="task.type == TaskType.Work"></i>
        </td>
        <td class="w-auto text-right">
          <i class="far fa-trash-alt fa-lg text-danger" (click)="deleteTask(task.id)"></i>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="tasks.totalItems" [(page)]="pageNumber" [pageSize]="pageSize" [maxSize]="5"
                      [boundaryLinks]="true" (pageChange)="onPageChange()"></ngb-pagination>

      <select class="custom-select w-auto" [(ngModel)]="pageSize" (ngModelChange)="onPageChange()">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="15">15</option>
      </select>
    </div>
  </div>
</div>
