<div class="d-flex justify-content-center" *ngIf="lists !== undefined && lists !== null">
  <div class="card w-75">
    <h5 class="card-header">Lists</h5>

    <div class="card-body d-flex justify-content-center">
      <div class="w-50 pr-5">
        <app-list-form [request]="requestSubject.value" (createListChange)="createList($event)"
                       (updateListChange)="updateList($event)"></app-list-form>
      </div>

      <div class="w-75">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
          </thead>

          <tbody>
          <tr role="button" *ngFor="let list of lists.data">
            <td class="w-75" (click)="loadForm(list)"><a routerLink="/list/{{list.id}}">{{ list.name }}</a></td>
            <td class="text-right">
              <i class="far fa-trash-alt fa-lg text-danger" (click)="deleteList(list.id)"></i>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="lists.totalItems" [(page)]="pageNumber" [pageSize]="pageSize" [maxSize]="5"
                          [boundaryLinks]="true" (pageChange)="onPageChange()"></ngb-pagination>

          <select class="custom-select w-auto" [(ngModel)]="pageSize" (ngModelChange)="onPageChange()">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="15">15</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
