<div class="d-flex justify-content-center">
  <div class="card w-50">
    <h5 class="card-header">Register</h5>

    <div class="card-body">
      <form novalidate #form="ngForm" (submit)="onSubmit(form)">
        <div class="form-row">
          <div class="col form-group">
            <label for="userName">Username</label>

            <input class="form-control form-control-lg" placeholder="Username" id="userName" name="userName"
                   #userName="ngModel"
                   [(ngModel)]="request.userName" required minlength="4"
                   [class.is-invalid]="userName.invalid && userName.touched">
          </div>

          <div class="col form-group">
            <label for="email">E-mail address</label>

            <input class="form-control form-control-lg" placeholder="E-mail address" id="email" name="email"
                   #email="ngModel"
                   [(ngModel)]="request.email" required email
                   [class.is-invalid]="email.invalid && email.touched">
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>

          <input class="form-control form-control-lg" placeholder="Password" id="password" name="password"
                 type="password"
                 #password="ngModel"
                 [(ngModel)]="request.password" required minlength="6"
                 [class.is-invalid]="password.invalid && password.touched">
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit" [disabled]="form.invalid">Register</button>
        </div>

        <small class="text-muted">By clicking Register, you agree that you have read and accepted our Terms of Use and
          Privacy Policy.</small>
      </form>
    </div>

    <div class="border-top card-body text-center">Already have an account? <a routerLink="/login">Login</a></div>
  </div>
</div>
